* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* рассчет padding внутри блока, а не снаружи */
}
body {
    font-family: 'Inter', sans-serif;
}
header {
    background-color: #1ABC9C;
}
.wrapper {
    width: 90%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    font-size: 25px;
    color: black;
    text-decoration: none; /* убирает нижнее подчеркивание */
}
.nav-link:not(:last-child) {
    margin-right: 20px;
}
.social-icon:not(:last-child) {
    margin-right: 20px;
}
/* О нас */
.intro {
    display: flex;
    align-items: center;
}
.intro-img {
    width: 50%;
}
h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 35px;
}
.intro-text {
    font-size: 20px;
    width: 90%;
    margin: auto;
    text-align: justify; /* выравнивание по ширине */
    /* padding: 0 65px; */
}
/* Проекты */
.projects {
    background-color: #DCFFEB;
    padding: 125px 0;
}
.projects-wrapper {
    width: 90%;
    margin: auto;
}
.projects-title {
    font-size: 35px;
    margin-bottom: 50px;
}
.projects-list {
    display: flex;
    gap: 35px; /* новое свойство работает не во всех браузерах */
}
/* 
    .projects-item {
        width: 33%
    }
.projects-item:not(:last-child) {
    margin-right: 35px;
} */
.projects-item img { 
    width: 100%;
}
.projects-item {
    position: relative;
}
.projects-item:hover .projects-item-hover {
    display: block;
}
.projects-item-hover {
    display: none; /* скрыть элемент */
    position: absolute;
    bottom: 0;
    padding: 15px 35px;
    background-color: rgba(0, 0, 0, 0.38);
}
.projects-item-title {
    font-size: 24px;
    font-weight: 500;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.projects-item-text {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
/* Футер */
footer {
    padding: 80px 0;
}
.footer-wrapper {
    width: 90%;
    margin: auto;
}
.footer-title {
    font-size: 35px;
    margin-bottom: 55px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
}
.footer-item img {
    display: block;
    margin: auto;
    /* opacity: 0;
    background-color: transparent; */
}
.footer-item-title {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #999999;
    margin: 25px 0;
}
.footer-item-text {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
/* 
    space-between - размещает блоки на равноудаленное расстояние друг между другом

    Расположить элементы справа налево в одну строку 
    и добавить отступ между ними
 */



/* 
    <div class="item">
        <p>Этот меняется</p>
        <div>
            Отображается при hover на .item
        </div>
    </div>
    <p>Этот не меняется<p>

    .item:hover div {
        
    }      

    <h1>Hello</h1>
    h1:hover {
        color: red; 
    }
    красный цвет появлялся при наведнии на элемент


    :hover - состояние элемента при наведении

    background: url(./img1.jpg) white cover center; фон, и картинка и размер фона и цвет
    background-color: white; только цвет

    Разместить текст внизу картинки


    position: relative - задается родительским элементам, относительно которых позиционируем блок

    divParent - 400px
    img - width -100%

    aspect-ratio: 1/1;

    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
*/
/* 


    :not() - отрицание
    div:last-child - последний элемент
    a:first-child - первый элемент

background: rgba(26, 188, 156, 1) url("./") no-repeat cover;

    ctrl+C - копировать
    ctrl+V - вставить

    https://flexboxfroggy.com/#ru пройти все уровни

    flex - технология для создания гибких блоков на странице,
        испольузется для позицинирования элементов на странице
    Элементы в одну строку можно расположить различными способами,
        но самый удобный и современный - это flex.
    Вместе с flex используются различные способы позиционирования
        по горизонтали и вертикали
*/