* {
    margin: 0; /* внешний отступ */
    padding: 0; /* внутренний отступ */
    box-sizing: border-box; /* модель блока, когда padding внутри элемента а не снаружи */
}
body {
    font-family: 'Inter', sans-serif;
}
header {
    height: 70px;
    background-color: lightgreen;
    margin-bottom: 30px;
    display: flex;
    align-items: center; /* центрирование блоков внутри header по вертикали */
    justify-content: center; /* центрирование блоков внутри header по горизонтали */
}
h1 {
    text-align: center;
}
h1:hover {
    color: khaki;
    font-size: 50px;    
}
.container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: calc(50% - 20px); /* ширина */ /*  || + - * / || */
    height: calc(100vh / 2.5); /* высота */ /* 33vh - высота рабочего окна браузера */
    background-color: cornflowerblue;
    margin: 10px;
    background-size: cover; 
    background-repeat: no-repeat;
    transition: 1s; /* transition - управляет временем любой анимации */
    border-radius: 8px; /* закругление углов блока */
}
.item:hover {
    transform: scale(1.1) rotate(45deg); /* scale() - функция, которая позволяет увеличить размеры блока пропорционально */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5); /* тень блока */
}
.item-1 {
    background-image: url("./images/img1.jpg");
}
.item-2 {
    background-image: url("./images/img2.jpg");
}
/* 
    Псевдоклассы - особое состояние элемента
    :nth-child()
    :hover - состояние элемента при наведении мыши на него  

    Единицы измерения ширины/высоты:
        1. px - пиксели
        2. % - процент относительно родительского элемента
        3. vw - view width - полная ширина окна браузера(с учетом скролла)
            100vw - ширина окна браузера
           vh - view height - полная высота рабочего окна браузера 
           

    display: flex по умолчанию располагает все элементы в одну строку, игнорируя их ширину
    flex-wrap: wrap; ширина элемента не игнорируется, правило размещения в одну строку игнорируется

    ДЗ. Создать 8 div и для каждого дива добавить фоновую картинку

    background-size:
        1. 100% блока 
        2. cover - по ширине на 100%, по высоте масштабируется
        3. contain - по высоте на 100%, по ширине масштабируется

    ctrl+z / cmd + z - вернуть действие назад
    .kvadrat - неправильно 
    .square - правильно 

    Селектор:
        1. по тегу - h1, p, h3, img
        2. по классу - .className
    
    Как задавать класс:
        1. Использовать латиницу
        2. Класс чувствителен к регистру. item-1 и Item-1 -- два разных класса
        3. Класс должен быть осмысленными


    ДЗ. Скачать 8 картинок на одну тему в папку images
        (.jpg, .png, .jpeg)

    Задача. 
        Сделать отступ между двумя тегами a

    Есть стили, которые добавляются браузером автоматически,
    мы их сбрасываем(отступы) с помощью обнуления

    * - селектор для всех элементов на странице

    margin-
     1. top - сверху
     2. right - справа
     3. bottom - снизу
     4. left - слева

    padding-
     1. top - сверху
     2. right - справа
     3. bottom - снизу
     4. left - слева
*/