* {
    margin: 0; /* внешний отступ */
    padding: 0; /* внутренний отступ */
    box-sizing: border-box; /* модель блока, когда padding внутри элемента а не снаружи */
}
.item {
    width: 700px; /* ширина */
    height: 300px; /* высота */
    background-color: cornflowerblue;
    margin: 10px;
}
.item-1 {
    background-image: url("./images/img1.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}
/* 
    ДЗ. Создать 8 div и для каждого дива добавить фоновую картинку

    background-size:
        1. 100% блока 
        2. cover - по ширине на 100%, по высоте масштабируется
        3. contain - по высоте на 100%, по ширине масштабируется

    ctrl+z / cmd + z - вернуть действие назад
    .kvadrat - неправильно 
    .square - правильно 

    Селектор:
        1. по тегу - h1, p, h3, img
        2. по классу - .className
    
    Как задавать класс:
        1. Использовать латиницу
        2. Класс чувствителен к регистру. item-1 и Item-1 -- два разных класса
        3. Класс должен быть осмысленными


    ДЗ. Скачать 8 картинок на одну тему в папку images
        (.jpg, .png, .jpeg)

    Задача. 
        Сделать отступ между двумя тегами a

    Есть стили, которые добавляются браузером автоматически,
    мы их сбрасываем(отступы) с помощью обнуления

    * - селектор для всех элементов на странице

    margin-
     1. top - сверху
     2. right - справа
     3. bottom - снизу
     4. left - слева

    padding-
     1. top - сверху
     2. right - справа
     3. bottom - снизу
     4. left - слева
*/